# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Roots_UP.iml
# Datasource local storage ignored files
/../../../../../../:\projects\Roots_UP\.idea\.idea.Roots_UP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
